
header {
	padding: 0 70px;
	background: #f6f2f2;
}
.row:after {
	content: "";
	display: block;
	clear: both;
}
.menu   li {
    display: inline-block;
}
.menu {
	background: rgba(0,0,0, 80%);
	list-style: none;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
}
.menu a {
	color: white;
	text-decoration: none;
	font-size: 0.875em;
	display: block;
	margin: 0 auto;
	padding: 15px 10px;
}
.menu a:hover {
	background: #ff3f40;
}
.pixar {
	float: right;
}
header h2 {
	font-size: 3.75em;
	font-weight: bold;
	margin-bottom: 40px;
}
header p {
	display: block;
    width: 450px;
    font-size: 1em;
    margin-bottom: 40px;
}
.contact-us input[type="submit"] {
	background: #ff2d2d;
	border: none;
	color: white;
	font-size: 1.133em;
	padding: 10px 40px;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 60px;
}
h3 {
	text-transform: uppercase;
	font-size: 2.625em;
	margin-top: 60px;
	margin-bottom: 40px;
	font-weight: bold;
}
.learn-more input[type="submit"] {
	background: #ffffff;
	border: 1px solid red;
	color: red;
	font-size: 1.133em;
	padding: 10px 40px;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 60px;
	margin-top: 40px;
}
h4 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 60px;
	opacity: 0.8;
}
.section-3 h3 {
	text-align: center;
	margin-bottom: 15px;
}
.section-3 p {
	text-align: center;
	margin-bottom: 50px;
}
.section-3 .sub-menu ul {
	text-align: center;
}
.section-3 .sub-menu li {
	display: inline-block;
}
.section-3 .sub-menu a {
	opacity: 0.7;
	font-weight: bold;
	color: #000000;
	margin: 10px;
}
.section-3 .sub-menu a:hover {
	color: red;
	text-decoration: none;
}
.subscribe {
	background: #f5f0dd;
}
.subscribe h3 {
	color: white;
	text-align: center;
	padding-top: 50px;
}
.subscribe p {
	color: white;
	text-align: center;
	margin-bottom: 50px;

}
.subscribe input[type="email"] {
	padding: 0;
	border: none;
	border-radius: 5px;
	width: 320px;
	margin-right: 10px;
	padding: 12px 20px 12px 20px;
	box-sizing: border-box;
}
.subscribe input[type="submit"] {
	background: #ff2d2d;
	border: none;
	color: white;	
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.125em;
	padding: 10px 35px;
	cursor: pointer;
}
.subscribe input {
	display: inline-block;
	margin: 0 auto;
}
.subscribe form {
	text-align: center;
    padding-bottom: 50px;
}
.message input {
	float: left;
	background: #e5e5e5;
}
.message input[type="text"] {
	padding: 0;
	border: none;
	border-radius: 5px;
	width: 200px;
	margin-right: 30px;
	padding: 12px 20px 12px 20px;
	box-sizing: border-box;
}
.message input[type="email"] {
	padding: 0;
	border: none;
	border-radius: 5px;
	width: 200px;
	margin-right: 10px;
	padding: 12px 20px 12px 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.message input[type="submit"] {
	background: #ff2d2d;
	border: none;
	color: white;	
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.125em;
	padding: 10px 35px;
	cursor: pointer;
    margin-top: 5px;
    margin-bottom: 20px;
}
.message textarea {
	background: #e5e5e5;
	border-radius: 5px;
	padding: 30px;
	border: none;
}
.contact-info {
	background: #000000;
	color: #ffffff;
	padding: 80px;
	border-radius: 5px;
}
.contact-info h5 {
	font-size: 1.125em;
	margin-bottom: 30px;
}
.contact-info p {
	margin-bottom: 20px;
}
.row .footer {
	background: #000000;
	height: 60px;
	color: #ffffff;
	padding: 20px 10px;
}